* {
  box-sizing: border-box;
}

body {
  font-family: "karla", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  /* background: linear-gradient(90deg, #672280 1.18%, #a10bd7 100% ) */
  background: linear-gradient(0.25turn, #450e59, #b289b6, #ab52cb);
  color: white;
  padding: 20px;
}

.header--image {
  height: 150%;
  margin-right: 6px
}

.header--title {
  font-size:1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: .75rm;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--input {
  font-family: "karla", sans-serif;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 15px;
}

.form--button {
  grid-column: 1 /-1;
  font-family: "karla", sans-serif;
  background: linear-gradient(0.25turn, #450e59, #b289b6, #ab52cb);
  color:white;
  border: none;
  cursor: pointer;
}